.mainBg {
  background: url("/bg.png") center/380px, #fff;
  animation: bgLoop 10s linear infinite;
}
@keyframes bgLoop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -380px 380px;
  }
}
.cloudsText {
  font-family: "Righteous", cursive;
}
.icon {
  @apply hover:scale-110;
}
